<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/appointment.css"/>
    <title>Appointment | HealthConnect</title>
</head>
<body class="main_bg">
  <nav class="navbar">
    <div class="nav-links">
      <a href="{{url_for('views.index')}}">Home</a>
      <li class="link"><a href="{{url_for('views.dashboard')}}">Dashboard</a></li>
      <li class="link"><a href="{{url_for('views.resource')}}">Resources</a></li>
  </div>
</nav>
<div class="form">
    <div class="form-text">
        <h1>
            Welcome to BOOKING
        </h1>
        <p>Schedule an appointment today</p>
    </div>
    <div class="main-form">
        <form method="POST">
            <div>
                <span>Full Name:</span>
                <input type="text" name="full_name" id="name" placeholder="Write your name here..." required/>
            </div>
            <div>
                <span>Hospital Name:</span>
                <select placeholder="Time" id="time" name="hospital_name" required style="color: gray;">
                    <option value="Ubuzima Polyclinic">Ubuzima Polyclinic</option>
                     <option value="Polyclinic saint Jean">Polyclinic saint Jean</option>
              <option value="Polyfam">Polyfam</option>
              <option value="UR-CMHS BD">UR-CMHS BD</option>
              <option value="Polyclinique medico sociale">Polyclinique medico sociale</option>
              <option value="olyclinique la medicale Musanze">olyclinique la medicale Musanze</option>
              <option value="Polyclinique la medicale Kigali">Polyclinique la medicale Kigali</option>
              <option value="1Polyclinique la medicale Rubavu">Polyclinique la medicale Rubavu</option>
              <option value="Polyclinique de l'etoile">Polyclinique de l'etoile</option>
              <option value="Polyclinic du plateau">Polyclinic du plateau</option>
              <option value="Croix du sud hospital">Croix du sud hospital</option>
              <option value="Peace Pololyclinic">Peace Pololyclinic</option>
              <option value="Polyclinic du carrefour">Polyclinic du carrefour</option>
              <option value="Inkurunziza Orthopedic Hospital">Inkurunziza Orthopedic Hospital</option>
              <option value="Glamerc Polyclinic">Glamerc Polyclinic</option>
              <option value="Polyclinique La medicale Huye">Polyclinique La medicale Huye</option>
              <option value="Wiwo Specialized Hospital">Wiwo Specialized Hospital</option>
              <option value="Beatrice Polyclinic">Beatrice Polyclinic</option>
              <option value="MBC HOSPITAL">MBC HOSPITAL</option>
              <option value="Salus Polyclinic">Salus Polyclinic</option>
                </select>
            </div>
            <div>
                <span>Time:</span>
                <select placeholder="Time" id="time" name="appointment_time" required style="color: gray;">
                    <option value="6AM">6 AM</option>
                    <option value="6:30AM">6:30AM</option>
              <option value="7AM">7 AM</option>
              <option value="7:30AM">7:30AM</option>
              <option value="8AM">8 AM</option>
              <option value="8:30AM">8:30AM</option>
              <option value="9AM">9 AM</option>
              <option value="9:30AM">9:30AM</option>
              <option value="10AM">10 AM</option>
              <option value="10:30AM">10:30AM</option>
              <option value="11AM">11 AM</option>
              <option value="11:30AM">11:30AM</option>
              <option value="12PM">12 PM</option>
              <option value="12:30PM">12:30PM</option>
              <option value="1PM">1 PM</option>
              <option value="1:30PM">1:30PM</option>
              <option value="2PM">2 PM</option>
              <option value="2:30PM">2:30PM</option>
              <option value="3PM">3 PM</option>
              <option value="3:30PM">3:30PM</option>
              <option value="4PM">4 PM</option>
              <option value="4:30PM">4:30PM</option>
              <option value="5PM">5 PM</option>
              <option value="5:30PM">5:30PM</option>
              <option value="6PM">6 PM</option>
              <option value="6:30PM">6:30PM</option>
              <option value="7 PM">7 PM</option>
              <option value="7:30PM">7:30PM</option>
              <option value="8PM">8 PM</option>
              <option value="8:30PM">8:30PM</option>
              <option value="9PM">9 PM</option>
              <option value="9:30PM">9:30PM</option>
              <option value="10PM">10 PM</option>
              <option value="10:30PM">10:30PM</option>
              <option value="11PM">11 PM</option>
                    <!-- Add more options here -->
                </select>
            </div>
            <div>
                <span>Date:</span>
                <input type="date" name="appointment_date" id="date" placeholder="date" required/>
            </div>
            <div>
                <span>Phone No:</span>
                <input type="number" name="phone_number" id="number" placeholder="Write your number here..." required/>
                <div>
                    <span>Note For Doctor</span>
                    <textarea name="note" id="note" cols="30" rows="10" placeholder="Write your note here..."
                              required></textarea>
                </div>
            </div>
            <div id="submit">
                <input type="submit" value="SUBMIT" id="submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
