<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login | HealthConnect</title>
    <link rel="stylesheet" href="/static/login.css">
    <!-- <link rel="stylesheet" href="../static/register.css"> -->
    <div class="nav__logo"><a href="/">student HealthConnect</a></div>


</head>

<body>

    <div class="background"></div>
    <div class="container">
        <form class="form">
            <p class="title">Sign into your account</p>
            <p class="message">Login, now! </p>

    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Email</span>
            </label>
    

            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Password</span>
            </label>
            <button class="submit">Login</button>
            <p class="signin">Don't have an acount ? <a href="/register">Create account</a> </p>
        </form>

    </div>

</body>

</html>